

WatchTaobao/bin/
WatchTaobao/obj/
HtmlAgilityPack/obj/
HtmlAgilityPack/bin/
CustomLib/bin/
CustomLib/obj/
WatchTaobao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WatchTaobao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WatchTaobao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WatchTaobao/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
